@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&family=Geologica:wght@300;400;500;600&display=swap');

:root {
  --bg: #101010; 
  --bg2: #1d1d1d;
  --br: #2d2d2d;
  --text-accent: #fff;
  --text: #8A8A8A;
  --accent: #494C9B;
  --danger: #CB5656;
}

/* <= ОБЩИЕ СТИЛИ => */
body {
  background: var(--bg);
  color: var(--text-accent);
  font-family: 'Geologica';
  display: flex;
  flex-direction: column;
}

section[data-type^="section-"] button {
  display: block;
  background: var(--accent);
  border: 1px solid var(--accent);
  color: var(--bg);
  font-family: 'Geologica';
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  transition: transform .3s ease;
}

section[data-type^="section-"] button:active {
  transform: scale(0.9);
}

section[data-type^="section-"] {
  display: none;
}

section.active {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}

section[data-type^="section-"] .row {
  display: flex;
  flex-direction: column;
  background: var(--bg2);
  padding: 15px;
  margin-bottom: 7px;
  border-left: 3px solid var(--bg2);
}

section[data-type^="section-"] .row .title {
  color: var(--text);
  font-size: 14px;
  padding-bottom: 7px;
}

section[data-type^="section-"] .row .data {
  background: var(--bg2);
  color: var(--text-accent);
  font-family: 'Geologica';
  font-size: 15px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

section[data-type^="section-"] .row input {
  background: var(--bg2);
  color: var(--text-accent);
  font-family: 'Geologica';
  font-size: 15px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

section[data-type^="section-"] .row input::placeholder {
  color: var(--text);
  font-family: 'Geologica';
  font-size: 14px;
}
/* </= ОБЩИЕ СТИЛИ => */

/* <= НАВИГАЦИЯ => */
nav {
  display: flex;
  padding: 15px 30px 60px 30px;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  
  gap: 40px;
  margin: 0 auto;
  width: min-content;
  max-width: 100%; 
}

nav::-webkit-scrollbar {
  display: none; 
}

nav button {
  display: block;
  font-family: 'Geologica';
  background: var(--bg);
  padding: 5px 10px;
  color: var(--text);
  font-size: 13px;
  white-space: nowrap;
  border: none;
  border-bottom: 2px solid var(--bg);
  transition: border-color .2s ease, color .2s ease;
  scroll-snap-align: center;
}

nav .active {
  border-bottom: 2px solid var(--accent);
  color: var(--text-accent);
  border-radius: 0px;
}
/* </= НАВИГАЦИЯ => */

/* <= КНОПКИ ВХОД И УДАЛЕНТЕ => */
.account .account-actions {
  display: flex;
  gap: 16px;
}

.account .account-actions .del-account {
  background: transparent !important;
  border-color: var(--danger) !important;
  color: var(--danger) !important;
}
/* </= КНОПКИ ВХОД И УДАЛЕНТЕ => */

/* <= МОДАЛЬНОЕ ОКНО => */
.modal-window {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg);
  padding: 20px;
  font-size: 14px;
  border: 1px solid var(--br);
}

.modal span {
  font-size: 12px;
  color: var(--text);
  padding: 5px 0 20px 0;
}
/* </= МОДАЛЬНОЕ ОКНО => */

/* <= МОДАЛЬНОЕ ОКНО СОЗДАНИЕ КОМНАТЫ=>*/
.modal-actions.room-public {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.modal-actions.room-private {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.modal .invite-code {
  background: var(--bg2);
  padding: 20px;
  text-align: center;
}

.modal-actions .copy {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--bg) !important;
}

.modal-actions .close {
  background: transparent !important;
  border-color: var(--text) !important;
  color: var(--text) !important;
}

.modal-window.active {
  display: flex;
}
/* </= МОДАЛЬНОЕ ОКНО СОЗДАНИЕ КОМНАТЫ=>*/

/* <= МОДАЛЬНОЕ ОКНО ДЛЯ УДАЛЕНИЯ АККАУНТА => */
.modal-actions.del {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.modal-actions button {
  position: relative;
  display: block;
  background: var(--bg);
  border: 1px solid var(--text);
  color: var(--text);
  font-family: 'Geologica';
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  transition: transform .3s ease;
}

.modal-actions button:active {
  transform: scale(0.9);
}

.modal-actions .del-account {
  background: var(--danger) !important;
  border-color: var(--danger) !important;
  color: var(--bg) !important;
}
/* <= МОДАЛЬНОЕ ОКНО ДЛЯ УДАЛЕНИЯ АККАУНТА => */

/* <= СОЗДАНИЕ КОМНАТЫ => */
.create-room-form .create {
  position: relative;
  display: block;
  background: var(--accent);
  border: none;
  color: var(--bg);
  font-family: 'Geologica';
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  width: 100%;
  transition: transform .3s ease;
}

.create-room-form label.row {
  transition: border-color .3s ease;
}

.create-room-form label.row:focus-within {
  border-left: 3px solid var(--accent);
}

.create-room-form label.invalid:focus-within {
  border-left: 3px solid var(--danger);
}

.type-room {
	display: flex;
	padding-bottom: 7px;
	gap: 7px
}

.type-room label {
  display: flex;
  flex: 1;
  background: var(--bg2);
  border: 1px solid var(--bg2);
  color: var(--text);
  padding: 10px;
  text-align: center;
  justify-content: center;
  transition: color .2s ease, border-color .2s ease;
}

.type-room label:has(input:checked) {
  border-color: var(--accent);
  color: var(--text-accent);
}

.type-room label input {
  display: none;
}
/* </= СОЗДАНИЕ КОМНАТЫ => */

/* <= АНИМАЦИИ => */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}