@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800&family=Geologica:wght@300;400;500;600&display=swap');

:root {
  --bg: #ffffff;      
  --bg2: #f5f5f5;      
  --br: #e0e0e0;       
  --text-accent: #000; 
  --text: #6f6f6f;     
  --accent: #6a5acd;   
  --danger: #d9534f;
}

/* <= ОБЩИЕ СТИЛИ => */
body {
  background: var(--bg);
  color: var(--text-accent);
  font-family: 'Geologica';
  display: flex;
  flex-direction: column;
}

svg {
  height: 25px;
}

h1 {
  padding: 30px 0 0 30px;
}

input {
  border-radius: 0;
}

section[data-type^="section-"] button {
  display: block;
  background: var(--accent);
  border: 1px solid var(--accent);
  color: var(--bg);
  font-family: 'Geologica';
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  transition: transform .3s ease;
}

section[data-type^="section-"] button:active {
  transform: scale(0.9);
}

section[data-type^="section-"] {
  display: none;
  overflow-y: auto;
}

section[data-type^="section-"].active {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
}

section[data-type^="section-"] .row {
  display: flex;
  flex-direction: column;
  background: var(--bg2);
  padding: 15px;
  margin-bottom: 7px;
  border-left: 3px solid var(--bg2);
}

section[data-type^="section-"] .row .title {
  color: var(--text);
  font-size: 14px;
  padding-bottom: 7px;
}

section[data-type^="section-"] .row .data {
  background: var(--bg2);
  color: var(--text-accent);
  font-family: 'Geologica';
  font-size: 15px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

section[data-type^="section-"] .row input {
  background: var(--bg2);
  color: var(--text-accent);
  font-family: 'Geologica';
  font-size: 15px;
  outline: none;
  border: none;
  width: 100%;
  padding: 0;
}

section[data-type^="section-"] .row input::placeholder {
  color: var(--text);
  font-family: 'Geologica';
  font-size: 14px;
}
/* </= ОБЩИЕ СТИЛИ => */

/* <= НАВИГАЦИЯ => */
nav {
  display: flex;
  padding: 15px 15px 15px 15px;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  border-bottom: 1px solid var(--br);
}

nav img {
  padding-right: 15px;
  height: 30px;
}

nav div{
  display: flex;
  gap: 20px;
  max-width: 100%; 
  border-radius: 0;
  vertical-align: middle;
  line-height: 1;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  align-items: center;
  
}

nav div::-webkit-scrollbar {
  display: none; 
}

nav button {
  display: block;
  vertical-align: middle;
  line-height: 1;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
  font-size: 13px;
  border: none;
  padding: 0;
  margin: 0;
  transition: border-color .2s ease, color .2s ease;
}

nav button .img {
  height: 25px;
}

nav button .img {
  color: var(--br);
}

nav button.active .img {
  color: var(--accent);
}
/* </= НАВИГАЦИЯ => */

/* <= КНОПКИ ВХОД И УДАЛЕНТЕ => */
.account .account-actions {
  display: flex;
  gap: 16px;
}

.account .account-actions .del-account {
  background: transparent !important;
  border-color: var(--danger) !important;
  color: var(--danger) !important;
}
/* </= КНОПКИ ВХОД И УДАЛЕНТЕ => */

/* <= МОДАЛЬНОЕ ОКНО => */
.modal-window {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 15px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg);
  padding: 20px;
  font-size: 14px;
  border: 1px solid var(--br);
}

.modal span {
  font-size: 12px;
  color: var(--text);
  padding: 5px 0 20px 0;
}
/* </= МОДАЛЬНОЕ ОКНО => */

/* <= МОДАЛЬНОЕ ОКНО СОЗДАНИЕ КОМНАТЫ=>*/
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-top: 20px;
}

.modal .invite-code {
  background: var(--bg2);
  padding: 20px;
  text-align: center;
}

.modal-actions .copy {
  background: var(--accent) !important;
  border-color: var(--accent) !important;
  color: var(--bg) !important;
}

.modal-actions .close {
  background: transparent !important;
  border-color: var(--text) !important;
  color: var(--text) !important;
}

.modal-window.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
/* </= МОДАЛЬНОЕ ОКНО СОЗДАНИЕ КОМНАТЫ=>*/

/* <= МОДАЛЬНОЕ ОКНО ДЛЯ УДАЛЕНИЯ АККАУНТА => */
.modal-actions button {
  position: relative;
  display: block;
  background: var(--bg);
  border: 1px solid var(--text);
  color: var(--text);
  font-family: 'Geologica';
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  transition: transform .3s ease;
}

.modal-actions button:active {
  transform: scale(0.9);
}

.modal-actions .del-account,  .modal-actions .del-room{
  background: var(--danger) !important;
  border-color: var(--danger) !important;
  color: var(--bg) !important;
}
/* <= МОДАЛЬНОЕ ОКНО ДЛЯ УДАЛЕНИЯ АККАУНТА => */

/* <= СОЗДАНИЕ КОМНАТЫ => */
.create-room-form .create {
  position: relative;
  display: block;
  background: var(--accent);
  border: none;
  color: var(--bg);
  font-family: 'Geologica';
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  width: 100%;
  transition: transform .3s ease;
}

.create-room-form label.row, section[data-type^="section-enter-room"] label.row {
  transition: border-color .3s ease;
}

.create-room-form label.row:focus-within, section[data-type^="section-enter-room"] label.row:focus-within{
  border-left: 3px solid var(--accent);
}

.create-room-form label.invalid:focus-within {
  border-left: 3px solid var(--danger);
}

.type-room {
	display: flex;
	padding-bottom: 7px;
	gap: 7px
}

.type-room label {
  display: flex;
  flex: 1;
  font-size: 14px;
  background: var(--bg2);
  border: 1px solid var(--bg2);
  color: var(--text);
  padding: 10px;
  text-align: center;
  justify-content: center;
  transition: color .2s ease, border-color .2s ease;
}

.type-room label:has(input:checked) {
  border-color: var(--accent);
  color: var(--text-accent);
}

.type-room label input {
  display: none;
}
/* </= СОЗДАНИЕ КОМНАТЫ => */

/* <= СПИСОК КОМНАТ ПОЛЬЗОВАТЕЛЯ => */
.you-rooms {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 7px;
  height: 100%;
}

.you-rooms .you-room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg2);
  padding: 15px;
}

.you-room .name-room {
  display: flex;
  align-items: center;
}

.you-room .name-room .lock {
  height: 20px;
  color: var(--text);
  margin-left: 5px;
}

.you-rooms button {
  border: none !important;
  padding: 0 !important;
  background: transparent !important;
}

.you-rooms button .del-room {
  color: var(--danger);
}
.create-room-form {
  padding-bottom: 23px;
}
/* </= СПИСОК КОМНАТ ПОЛЬЗОВАТЕЛЯ => */

/* <= ПОИСК КОМНАТ => */
section[data-type^="section-enter-room"] .results-container {
  position: relative;
  z-index: 200;
}

.results-container .results {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--br);
  gap: 1px;
  width: 100%;
  border-radius: 3px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease;
}

.results-container .results.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

.results-container .results div {
  background: var(--bg2);
  border-radius: 0;
  padding: 15px;
}

.results-container .results div:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.results-container .results div:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* </= ПОИСК КОМНАТ => */

/* <= ЗАТЕМНЕНИЕ => */
.blackout {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity .2s ease, visibility .2s ease;
}

.blackout.active {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
/* </= ЗАТЕМНЕНИЕ => */

/* <= НЕДАВНИЕ КОМНАТЫ => */
.recent-rooms {
  height: 100%;
}

.no-rooms {
  text-align: center;
  color: var(--text);
  padding-top: 60px;
}
/* </= НЕДАВНИЕ КОМНАТЫ => */


/* <= АНИМАЦИИ => */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s;
}